version: "3.7"
services:
  jupyterhub:
    build: .
    command:
      - /opt/conda/bin/python
      - /opt/conda/bin/jupyterhub
      - --debug
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - {{jupyter_port}}:{{jupyter_port}}
    environment:
      - OAUTH_ENDPOINT=https://iam.cloud.infn.it
      - OAUTH_CALLBACK_URL=http://{{jupyter_ip}}:{{jupyter_port}}/hub/oauth_callback
      - OAUTH_GROUPS=group1 group2
      - WITH_GPU=true

networks:
  default:
    name: jupyterhub
